<!--  <app-event></app-event>  -->
<!-- <app-employee></app-employee>  -->
<!-- <app-event-template-form></app-event-template-form> -->
<!-- <app-event-template-form></app-event-template-form> -->
<!-- <app-event-reactive-form></app-event-reactive-form> -->
<!--<app-sales></app-sales>-->

<!-- Child to Parent Component Reverse Process-->
<!-- <app-existing></app-existing>   -->

 <!-- <mat-toolbar color="primary">

  <mat-toolbar-row class="justify-content-between">
   <img src="../assets/team-logo.png" height="50px" width="75px" alt="img">
    <H2> Angular Material Demo</H2>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">

            <mat-icon class="user-image-icon ml-1">account_circle</mat-icon>User Name

            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav opened="true">
    <mat-nav-list>

      <mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>Home </mat-list-item>
      <mat-list-item routerLink="/registration">
        <mat-icon>person_add</mat-icon> Register </mat-list-item>
      <mat-list-item routerLink="/viewAllCourses">
        <mat-icon>people</mat-icon> Participants </mat-list-item>
      <mat-list-item routerLink="/listAllParticipantsByCourse">
        <mat-icon>search</mat-icon> Search </mat-list-item>
      <mat-list-item routerLink="/aboutUs">
        <mat-icon>info</mat-icon> About </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
    <div style="height: 88vh; margin-left: 20px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  -->


<!-- Angular Assesment 1-->
<!-- <app-event-parent></app-event-parent> -->
<!-- Angular Assesment 2-->
<!-- <app-candidate-template-driven-form></app-candidate-template-driven-form> -->

<!-- Angular Assesment 3-->
 <!-- <mat-toolbar class="mat-header">

  <mat-toolbar-row class="justify-content-between">
   <p style="text-align: center; font-size: 40px; margin-top: 25px"><strong>{{dashboardTitle}}</strong></p>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav opened="true">
    <mat-nav-list>
      <h2 style="margin-left: 10px">{{sideNavigationTitle}}</h2>
      <mat-list-item style="color: blue" routerLink="/home">Home
      </mat-list-item>
      <mat-list-item routerLink="/viewAllCourses">
        View All Courses </mat-list-item>
      <mat-list-item routerLink="/registration">
        Registration </mat-list-item>
      <mat-list-item routerLink="/listAllParticipantsByCourse">
        List All Participants by Course </mat-list-item>
      <mat-list-item routerLink="/aboutUs">
         About Us </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div style="height: 88vh;margin-left:10px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>  -->

<!-- Angular Assesment 4-->
<!-- <app-user-api></app-user-api> -->

<app-new-product-request></app-new-product-request>
<app-view-products></app-view-products>
<app-product-detail></app-product-detail>